.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;

    background-color: var(--dark-cyan);
}

.attribution {
    position: absolute;
    bottom: 1rem;
    margin: 0 2rem;
    text-align: center;

    a {
        color: var(--dark-blue);
    }
}
